body {
    background-color: blueviolet;
}
p{
    background-color:pink;
}
*{
    background-color: rgb(127, 187, 255);
    color:white;
} 
p{
    background-color: blue;
}
.c{
background-color: crimson;
} 
#sharanya{
background-color: darkgoldenrod;
}

#div1{
    height:100px;
    width:150px;
    background-color: yellow;
    padding:5px;
    margin:5px;
    border:10px solid red;
    border-radius: 50%;
    border-top-right-radius: 30%;
    border-bottom-left-radius: 30%;
}
#div2{
    height:100px;
    width:150px;
    background-color: yellow;
    padding:5px;
    margin:5px;
    border:10px dotted yellow;
    border-radius: 50%;
    

}
#div3{
    height:100px;
    width:150px;
    background-color: red;
    padding:5px;
    margin:5px;
    border:10px dashed rgb(46, 5, 26);
    border-radius: 50%;
    
}
#div2:hover{
    background-color: rgb(30, 93, 210);
    box-shadow: 5px 5px 5px rgb(18, 44, 82);
    border: 10px double black;
}
#div3:hover{
    background-color: rgb(124, 75, 112);
    box-shadow: 5px 5px 5px rgb(18, 44, 82);
    border: 10px double black;
}
H1:hover{
    text-transform: lowercase;
    background-color: rgb(138, 92, 61); 
}
body{
    text-align: center;
    text-decoration: underline;
    text-transform: uppercase;
    text-shadow: 1px 1px 2px yellowgreen;
    background-image: url(shinchan.jpg);
    background-repeat: repeat-x;
    background-attachment: fixed;
    backdrop-filter: blur(50px);
}
#main{
    height: 500px;
    width: 200px;
    background-color: black;
    align-items: center;
    justify-items: right;
    padding: 10px;
    margin: 20px;
}


